@model IEnumerable<WebAppConsumindoRestContatos.Models.Enderecos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        @*<th>
            @Html.DisplayNameFor(model => model.pessoa_id)
        </th>*@
        <th>
            Rua
        </th>
        <th>
            Complemento
        </th>
        <th>
            Tipo
        </th>
        <th>
            Estado
        </th>
        <th>
            Cidade
        </th>
        <th>
            Bairro
        </th>
        <th>
            Numero
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.endereco_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pessoa_id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.endereco_id }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.endereco_id })
        </td>
    </tr>
}

</table>
